[Core]
    editor = vim
[User]
	name = Miguel Gonzalez
	email = miguel.gonzalez@ticketea.com
[github]
    user = scenting
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
[push]
    default = simple


[diff]
  tool = meld
[difftool]
  prompt = false
[difftool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args \"$LOCAL\" \"$PWD/$REMOTE\"
[merge]
  tool = meld
[mergetool]
  prompt = false
[mergetool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args \"$PWD/$LOCAL\" \"$PWD/$BASE\" \"$PWD/$REMOTE\" --output=\"$PWD/$MERGED\"
